<style>
    .tree{
        max-height:calc(90vh);
        overflow: auto;
        overflow-x: hidden;
    }
</style>
<div id="tree" class="col-xs-4 col-sm-4 tree"></div>

<!--string-->
<div class="panel panel-default col-xs-8 col-sm-8 string" hidden style="padding:0%">
    <div class="panel-heading">
        <h3 class="panel-title p-title">key</h3>
    </div>
    <div class="panel-body">
        <form id="add-form" class="form-horizontal" role="form" data-toggle="validator"
            method="POST" action="faredis/index/updateValue">
            <input id="c-db" class="form-control c-db" style="display: none;" name="db" type="text">
            <div class="form-group">
                <label class="control-label col-xs-2 col-sm-2">STRING:</label>
                <div class="col-xs-2 col-sm-2">
                    <input id="c-key" class="form-control c-key" readonly name="key" type="text">
                </div>
                <div class="col-xs-8 col-sm-8">
                    TTL:<label id="ttl" class="ttl"> </label>
                    <button type="button" class="btn btn-default btn-embossed rds_rename">Rename</button>
                    <button type="button" class="btn btn-default btn-embossed rds_del">删除</button>
                    <button type="button" class="btn btn-default btn-embossed rds_ttl">设置TTL</button>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2 col-sm-2">Value:</label>
                <div class="col-xs-10 col-sm-10">
                    <textarea id="c-value" name="value" style="width: 100%;" rows="10"></textarea>
                </div>
            </div>
            <div class="form-group layer-footer">
                <label class="control-label col-xs-12 col-sm-2"></label>
                <div class="col-xs-12 col-sm-8">
                    <button type="submit" class="btn btn-success btn-embossed">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--Set list-->
<div class="panel panel-default col-xs-8 col-sm-8 set" hidden style="padding:0%">
    <div class="panel-heading">
        <h3 class="panel-title p-title">key</h3>
    </div>
    <div class="panel-body">
        <form id="add-form" class="form-horizontal" role="form" data-toggle="validator"
            method="POST" action="faredis/index/updateValue">
            <input id="c-db" class="form-control c-db" style="display: none;" name="db" type="text">

            <div class="form-group">
                <label class="control-label col-xs-2 col-sm-2 type-lb">SET:</label>
                <div class="col-xs-2 col-sm-2">
                    <input id="c-key" class="form-control c-key" readonly name="key" type="text">
                </div>
                <div class="col-xs-8 col-sm-8">
                    Size:<label id="size"  class="size"> </label>
                    &nbsp;&nbsp;TTL:<label id="ttl"  class="ttl"> </label>
                    <button type="button" class="btn btn-default btn-embossed rds_rename">Rename</button>
                    <button type="button" class="btn btn-default btn-embossed rds_del">删除</button>
                    <button type="button" class="btn btn-default btn-embossed rds_ttl">设置TTL</button>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2 col-sm-2"></label>
                <div class="col-xs-10 col-sm-10">
                    <select  multiple="true" style="width: 100%;height: 200px;" id='set-list' name="oldvalue">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2 col-sm-2">Value:</label>
                <div class="col-xs-10 col-sm-10">
                    <textarea id="c-value" class="set-value" name="value" style="width: 100%;" rows="10"></textarea>
                </div>
            </div>
            <div class="form-group layer-footer">
                <label class="control-label col-xs-12 col-sm-2"></label>
                <div class="col-xs-12 col-sm-8">
                    <button type="submit" class="btn btn-success btn-embossed">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--hash-->
<div class="panel panel-default col-xs-8 col-sm-8 hash" hidden style="padding:0%">
    <div class="panel-heading">
        <h3 class="panel-title p-title">key</h3>
    </div>
    <div class="panel-body">
        <form id="add-form" class="form-horizontal" role="form" data-toggle="validator"
            method="POST" action="faredis/index/updateValue">
            <input id="c-db" class="form-control c-db" style="display: none;" name="db" type="text">
            <div class="form-group">
                <label class="control-label col-xs-2 col-sm-2 type-lb">HASH:</label>
                <div class="col-xs-2 col-sm-2">
                    <input id="c-key" class="form-control c-key" readonly name="key" type="text">
                </div>
                <div class="col-xs-8 col-sm-8">
                    Size:<label id="size"  class="size"> </label>
                    &nbsp;&nbsp;TTL:<label id="ttl"  class="ttl"> </label>
                    <button type="button" class="btn btn-default btn-embossed rds_rename">Rename</button>
                    <button type="button" class="btn btn-default btn-embossed rds_del">删除</button>
                    <button type="button" class="btn btn-default btn-embossed rds_ttl">设置TTL</button>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2 col-sm-2"></label>
                <div class="col-xs-10 col-sm-10">
                    <select  multiple="true" style="width: 100%;height: 200px;" id='hash-list'>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2 col-sm-2">Key:</label>
                <div class="col-xs-10 col-sm-10">
                    <input id="c-hash-key" class="form-control hash-key" readonly name="hash-key" style="width: 100%;" >
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2 col-sm-2">Value:</label>
                <div class="col-xs-10 col-sm-10">
                    <textarea id="c-hash-value" class="hash-value" name="value" style="width: 100%;" rows="10"></textarea>
                </div>
            </div>
            <div class="form-group layer-footer">
                <label class="control-label col-xs-12 col-sm-2"></label>
                <div class="col-xs-12 col-sm-8">
                    <button type="submit" class="btn btn-success btn-embossed">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--zset-->
<div class="panel panel-default col-xs-8 col-sm-8 zset" hidden style="padding:0%">
    <div class="panel-heading">
        <h3 class="panel-title p-title">key</h3>
    </div>
    <div class="panel-body">
        <form id="add-form" class="form-horizontal" role="form" data-toggle="validator"
            method="POST" action="faredis/index/updateValue">
            <input id="c-db" class="form-control c-db" style="display: none;" name="db" type="text">

            <div class="form-group">
                <label class="control-label col-xs-2 col-sm-2 type-lb">ZSET:</label>
                <div class="col-xs-2 col-sm-2">
                    <input id="c-key" class="form-control c-key" readonly name="key" type="text">
                </div>
                <div class="col-xs-8 col-sm-8">
                    Size:<label id="size"  class="size"> </label>
                    &nbsp;&nbsp;TTL:<label id="ttl"  class="ttl"> </label>
                    <button type="button" class="btn btn-default btn-embossed rds_rename">Rename</button>
                    <button type="button" class="btn btn-default btn-embossed rds_del">删除</button>
                    <button type="button" class="btn btn-default btn-embossed rds_ttl">设置TTL</button>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2 col-sm-2"></label>
                <div class="col-xs-10 col-sm-10">
                    <select  multiple="true" style="width: 100%;height: 200px;" name="zset-key" id='zset-list'>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2 col-sm-2">Value:</label>
                <div class="col-xs-10 col-sm-10">
                    <input id="c-zset-value" class="form-control zset-value" readonly name="value" style="width: 100%;">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2 col-sm-2">Score:</label>
                <div class="col-xs-10 col-sm-10">
                    <input id="c-zset-score" class="form-control zset-score" name="zset-score" type="number" step="1">
                    </div>
            </div>
           
            <div class="form-group layer-footer">
                <label class="control-label col-xs-12 col-sm-2"></label>
                <div class="col-xs-12 col-sm-8">
                    <button type="submit" class="btn btn-success btn-embossed">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>